/*
* customer for citi survey
* Copyright 2014, Wiseperzy
* www.rabbitrewards.co.th
* 26/12/2017
*/

/* --- CUSTOM CSS --- */
/* Question custom */
li.box-q  {
    border:1px solid #cccccc ;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 2%;
    background-color: #fff;
    text-align: left;
}

body{
    /*
    display: inline-block;*/
    margin:auto;
    min-height: 700px;
    
   /*
    background-image: url('../images/bg.gif');
    background: url("../images/bg.gif") repeat-x;
    */
    background-size: contain;
    background-color: #e6e7e8;




}

label{
    color:#666666;
}

.background-notfound{
    display: inline-block;
    background-image: url('../images/rabbit_nottarget.png');
    background-size: contain;
    background-repeat: no-repeat;

}
.main-header{

    background-color:black; 

    color:white;
    padding-left:15px;
    padding-right: 10px;
}
.head-left{
    float: left; 

    text-align: left;
    padding-top:12px;
    padding-left:0;
}
.head-right{
    float: right;
    padding-bottom: 2px;
    text-align: right;   
    margin-top:0px;
    padding-right: 0;
}

.citi{

    min-width:100%;
    overflow: hidden;
    background: url('../images/bg-blueciti.png') repeat-x;
    background-size: contain;   
}
.citi-f{
    background-color:#003d7b;
    min-width:100%;

    background: url('../images/bg-blueciti-h.png') repeat-x;
    background-size: contain;  
    background-color:#003d7b;
}
.bg-normal{
    background: url('../images/bg-s.png') repeat-x;
}

.bg-citi{
    background: url('../images/bg-gradient-blue.png') repeat-x;
    background-size: contain;
}

.box-shadow{
    -webkit-box-shadow: inset 0px 0px 40px -2px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 40px -2px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 40px -2px rgba(0,0,0,0.75);
}

/* FORM STYLE */
/* The container */
.container-f {

  position: relative;
  padding-left: 23px;
  padding-bottom:5px;
  margin-bottom: 12px;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/* Hide the browser's default radio button */
.container-f input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  margin-top:3px;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-f:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-f input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-f input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-f .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* checkbox */
/* Hide the browser's default checkbox */


/* Create a custom checkbox */
.checkmark-c {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-f:hover input ~ .checkmark-c {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-f input:checked ~ .checkmark-c {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-c:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-f input:checked ~ .checkmark-c:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-f .checkmark-c:after {
  left: 10px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
ul.c-custom{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.c-custom li.c-orange{
    background-image: url(../images/icn-choice-orange.png);
    background-size: 17px 17px;
    background-repeat: no-repeat;
    background-position: 0 .14em;
    padding-left: 33px;
    line-height: 1.3em;
}

.banner-refinance{
    background-color:#000; 
    /*
    background-image: url("images/ptai-refinance.png");
    */
    
}
